@font-face {
    font-family: 'Poppins'; 
    src: url(/Avtomat/font/Poppins-Regular.ttf); 
    font-weight: normal;
} 
@font-face {
    font-family: 'Poppins'; 
    src: url(/Avtomat/font/Poppins-Bold.ttf); 
      font-weight: 700;
} 
@font-face {
    font-family: 'Poppins'; 
    src: url(/Avtomat/font/Poppins-Extra-Bold.ttf); 
    font-weight: 900;
} 
@font-face {
    font-family: 'Poppins'; 
    src: url(/Avtomat/font/Poppins-Medium.ttf); 
    font-weight: 500;
} 
@font-face {
    font-family: 'Poppins'; 
    src: url(/Avtomat/font/Poppins-SemiBold.ttf); 
    font-weight: 600;
} 
body
{
	font-family: 'Poppins'; 
	max-width: 1920px;
	max-height: 6282px;
	margin: 92px 142px 0px 162px;
}
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1612px;
}
a
{
	text-decoration: none;
	color: black;
}
.logotype
{
	display: flex;
}
.logo
{
	width: 37px;
	height: 45px;
}
sup
{
	color:#24847F ;
	font-weight: 800;
	font-size: 16px;
	
}
.a-link
{
	font-size: 25px;
}
.a-link-text
{
 	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
	margin-left:76px ;
	display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.a-link-text:hover
{
	color: #58A9A5;
}

.a-link-text:after {
    display: block;
    content: "";
    background-color: #FEC62D;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.a-link-text:hover:after,
.a-link-text:focus:after {
    width: 100%;
}
.sign-up-box
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 271px;
	height: 80px;
	background: #58A9A5;
	border-radius: 15px;
}
.sign-up-box-text
{
	font-size: 25px;
	color: white;
	font-weight: 500;
}
.locus-architecture
{
	position: relative;
	margin-top: 120px;
	display: flex;
	justify-content: space-between;
	width: 1612px;
} 
.locus-architecture-main-text
{
	font-size: 70px;
}
.locus-ExtraBold
{
	font-weight: 800;
}
.locus-architecture-img
{
	width: 834px;
	height: 782px;
}
.locus-architecture-text{
	width: 430px;
	color: #208883;
	font-size: 32px;
}
.lets-go-box
{
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #58A9A5;
	border-radius: 20px 20px 20px 0px;
	width: 271px;
	height: 80px;
}
.lets-go-box-text
{
	font-size: 25px;
	color: white;
	font-weight: 500;
}
.how-it-works
{
	height: 640px;
	margin-top: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;

}
.how-it-works-text
{
	height: 215px;
}
.how-it-works-text-bold
{
	font-weight: 800;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 70px;
}
.how-it-works-text-regular
{
	width: 506px;
	font-size: 30px;
	text-align:center ;
}
.see-video-block
{
	margin-top: 50px;
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 1612px;
	height: 350px;
}
.see-video-block-img
{
	height: 350px;
	width: 1063px;
}
.see-video-block-green
{
	text-align:left ;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	background: #CCF0E6;
	border-radius: 0px 10px 10px 0px;
	height: 350px;
	width: 549px;
}
.see-video-block-green-text
{
	color: #486958;
	width: 320px;
	font-size: 20px;
	font-weight:500;
}
.see-video-block-green-text-2
{
	color: #486958;
	width: 320px;
	font-size: 20px;
	font-weight:700;
}
.play
{
	top:35%;
	left: 62%;
	position: absolute;
	height: 128px;
	width: 128px;
}
.our-mission
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 650px;
	margin-top: 120px;
}
.our-mission-img
{
	width: 642px;
	height: 650px;
}
.our-mission-text-main
{
	width: 420px;
	font-weight: 600;
	font-size: 40px;
}
.our-mission-text-main-second
{
	color: #486958;
	width: 708px;
	font-size: 30px;
	font-weight: 500;
}
.our-project
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
}
.our-project-text
{
	text-align:center ;
}
.our-project-text-regular
{
	font-size: 30px;
	text-align:center ;
}
.our-project-hr
{
	width: 135px;
	border: 3px solid;
	color: #58A9A5;
}
.projects
{
	width: 1612px;
	margin-top: 50px;
	height: 700px;
	display: flex;
	justify-content: space-between;
}
.project-livingroom
{
	height: 700px;
	display: flex;
	flex-direction: column;
}
.project-livingroom-img
{
	width: 450px;
	height: 450px;
	margin-top: 5%;
}
.project-livingroom-text-bold
{
	color: #58A9A5;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 0;
}
.project-livingroom-text-regular
{
	color: #486958;
	width: 453px;
	font-size: 20px;
	font-weight: 500;
}